<div className="container-main">
  <div className="container-left">

      <div className="container-top">
      <div className="container-parameters">
      <h3>Parameters</h3>

      </div>
      <div className="container-export-options">
      <h3>Export Settings</h3>
      </div>

      </div>
      <div className="container-bottom">
      <h3>Data Visualisation</h3>
      <div>{this.renderedAttributes}</div>
      </div>

  </div>
  <div className="container-settings">
      <h3>Settings</h3>
  </div>
</div>
