<div class="container-title">
  Pipeline Buoyancy Module Calculator
</div>
<div class="container content">
  <div class="left">
      <div class="top">
        <div class="container parameters">
        <app-parameter-input
          (parameterEmitter)="updateParameters($event)"
        ></app-parameter-input>
      </div>
      <div class="container export-options">
        <app-export-settings></app-export-settings>
      </div>
      </div>
      <div class="container data-vis">
        <app-data-visualisation
          [pipelines]="this.pipelineResults"
        ></app-data-visualisation>
      </div>
  </div>
  <div class="container  settings">
    <app-settings></app-settings>
  </div>
</div>