<div class="container-title">
  Pipeline Buoyancy Module Calculator
  <a href="" style="float: right; text-align: right; padding-right: 15px; font-size: 22px;">Help!</a>
</div>
<div class="container content main">
  <div class="top">
    <div class="container parameters">
    <app-parameter-input
      (parameterEmitter)="updateParameters($event)"
    ></app-parameter-input>
  </div>
  <div class="container export-options">
    <app-export-settings
      (exportEmitter)="exportData($event)"
    ></app-export-settings>
  </div>
  </div>
  <div class="container data-vis">
    <app-data-visualisation
      [pipelines]="this.pipelineResults"
      [deltaS]="this.deltaS"
    ></app-data-visualisation>
  </div>
</div>