<h4>Select Pipeline:</h4>
<mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<div *ngIf="this.yAxisNames" style="display: flex; flex-direction: row;">
    <div class="charts" *ngFor="let yAxisName of this.yAxisNames">
        <app-chart
            [data]="this.data" 
            [xAxisName]="this.xAxisName"
            [yAxisName]="yAxisName">
        </app-chart>
    </div>
</div>
