<h2>Data Visualisation:</h2>
<div class="visualisation_selector">
  <mat-form-field appearance="fill">
    <mat-label>Buoyancy Length</mat-label>
      <mat-select>
        <mat-option *ngFor="let pipeline of pipelines" [value]="pipeline.buoyancySectionLength">
          {{pipeline.buoyancySectionLength}}m
        </mat-option>
      </mat-select>
  </mat-form-field>
</div>

<div *ngIf="!this.yAxisNames">
  <h2>*Submit parameters to display graphs*</h2>
</div>

<div *ngIf="this.yAxisNames" style="display: flex; flex-direction: row; margin-top: -15px;">
    <div class="charts" *ngFor="let yAxisName of this.yAxisNames">
        <app-chart
            [data]="this.data" 
            [xAxisName]="this.xAxisName"
            [yAxisName]="yAxisName">
        </app-chart>
    </div>
</div>
