<h2>Data Visualisation:</h2>
<div class="visualisation_selector">
  <mat-form-field appearance="fill">
    <mat-label>Buoyancy Length</mat-label>
      <mat-select [(ngModel)]="selectedOption" (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{option.label}}
        </mat-option>
      </mat-select>
  </mat-form-field>
</div>

<div *ngIf="this.data.length === 0">
  <h3>Please submit parameters to display graphs!</h3>
</div>

<div *ngIf="this.data.length > 0" style="display: flex; flex-direction: row; margin-top: -15px;">
    <div class="charts" *ngFor="let x of [0, 1, 2]">
        <app-chart
            [data]="this.data[x]" 
            [yAxisName]="this.yAxisNames[x]"
            [yLimits]="this.yLimits[x]"
            [xLimits]="this.xLimits">
        </app-chart>
    </div>
</div>
