.container {
    display: flex;
}

.parent {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 25px);
}

.child {
    padding-right: 15px;
}
