h2 {
    margin-top: 2px;
    color: rgb(47, 47, 47);
}

.parameter-input {
    padding: 5px;
}

.parent {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 25px);
}
